[user]
  name = Alexander Dang-Tran
  email = {{ .email | quote }}
[core]
  editor = nvim
[alias]
  lga = log --oneline --decorate --all --graph -50
  lgb = "!f() { git log \"origin/$1\" --oneline --decorate --graph -50; }; f"
  lg = log --oneline --decorate --graph -50
  subup = submodule update --init --recursive
[push]
  default = simple
